@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,700&display=swap');

* {
    margin:0; 
    padding:0; 
    box-sizing:border-box;
}

html , body {
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    font-family: 'Roboto';
}
.column {
    float:left;
    width: 20%;
    padding: 5px;
}
.row::after{
    content: "";
    clear:both;
    display: table;
}

header {
    height: var(--header-height);
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    background-color:#F2A71B;
    height: 5vh;
}
main {
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 10px;
    margin: 10px;
}

h1{
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left:0;
    margin-right: 0;
    font-weight:bold;
}

h2 {
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

img {
    border: 2px solid green;
    width: 200px;
    height: 200px;
    
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:green;
    color: solid black;
    text-align: center;
    height:5vh;
}

a:hover{
    color: green
}
a{
  text-decoration: none;
}

table.left {
    margin-left: auto;
    margin-right: auto;
}
